{% extends "page_app/global/index.html" %}

{% load static %}

{% block title %}Nossos Serviços{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Entre em Contato Conosco</h1>
    <p>Não perca tempo! Estamos aqui para ajudar no seu caminho para o sucesso financeiro. Entre em contato pelos meios
        abaixo:</p>

    <div class="contact-info">
        <a href="mailto:contato@contato.com.br" class="d-block">
            <i class="far fa-envelope mr-2"></i>contato@contato.com.br
        </a>
        <a href="https://wa.link/rk9jo4" target="_blank" class="d-block">
            <i class="fab fa-whatsapp mr-2"></i>(55) 98433-5572
        </a>
        <a href="tel:+554132322323" class="d-block">
            <i class="fas fa-phone mr-2"></i>(41) 3232-2323
        </a>
    </div>
</div>
{% endblock content %}
